* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 75rem;
    justify-content: space-between;
}


.header {
    background-color: white;
    /* width: 99vw; */
    width: 100%;
    position: sticky;
    top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
}
.logo {
    display:flex;
    flex-direction: column;
}
.text1-1 {
    color: #545454;
    font-family: Georgia;
    font-size: 2rem;
    letter-spacing: 0.06em;
    line-height: 110%;
    font-weight: 400;

}
.text1-2 {
    font-family: Arial;
    margin-top: 12px;
    color: #292929;
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
    line-height: 110%;
    text-align: center;
    font-weight: 400;
}
.navigation {
    display:flex;
}
.menu {
    display: flex;
    width: 27.6875rem;
}
.menu-links {
    font-size: 0.9375rem;
    font-family: Arial;
    /* padding-top: 1.05rem; */
    display: flex;    
    justify-content: space-between;
    list-style-type: none;
    width: 100%;  
}
.menu-link {
    align-items: center;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.5px;
    line-height: 160%; 
}
.text1-4 {
    padding-bottom: 3px;
    border-bottom: solid 3px #f1cdb3;
    color: #292929;
}
.text1-3, .text1-5, .text1-6 {
    color: #545454;
}


.OurFriends {
    background: #F6F6F6;
}
.wrapper-OurFriends{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
    align-items: center;
}
.text4-1 { 
    margin: auto;
    text-align: center;
    max-width: 400px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.section4-2{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 77px;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}
.pets__items {
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pets__item {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 435px;
    border-radius: 9px;
    background: #FAFAFA;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.sliderBtns {
    display: flex;
    justify-content: space-between;
    width: 340px;
}
.sliderBtn, .num {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
}
.inactive {
    background-color: #F6F6F6;
    border: 3px solid #CDCDCD;
    color: #CDCDCD;
}
.num {
    background: #F1CDB3;
    border: 3px solid #F1CDB3;
    padding-top: 11px;
    text-align: center;
}
.active {
    background-color: #F6F6F6;
    border: 3px solid #F1CDB3;
    /* color: */
}
.pet__learn {
    /* margin-top: 30px; */
    margin-bottom: 30px;
    /* padding-bottom: 15px; */
    width: 187px;
    height: 52px;
    border: 3px solid #FDDCC4;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #fafafa;
}


.footer {
    background: url(../../assets/images/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),#211F20;
}
.wrapper-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.contacts { display: flex; align-items: center;}
.section7-1 {
    margin-top: 19px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text7-1 {
    width: 302px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.text7-2 {
    display: flex;
    align-items: center;
    margin-left: 19px;
    width: 260px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.section7-2 {
    margin-top: 18px;
    margin-left: -40px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section7-3 {display: flex;}

button:focus { outline: none;}
.active:hover {
    cursor: pointer;
    background: #FDDCC4;
    border: #FDDCC4;
}
.pet__learn:hover {
    cursor: pointer;
    background: #FDDCC4;
    border: #FDDCC4;
}
/* .inactive:hover {
    cursor: pointer;
    background: #FDDCC4;
    border: #FDDCC4;
} */
a {text-decoration: none; color: #545454;}
.menu-link:hover {cursor: pointer; color: #292929;}
.link-footer:hover {cursor: pointer; color: #ffffff;}
.pets__item:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04); 
}


@media (max-width: 1279.5px) {
    .wrapper {
        max-width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }


    .section4-2 {
        margin-top: 15px;
        margin-bottom: 53px;
        width: 580px; 
    }
    .scarlett, .freddie {
        display: none;
    }
    .pets__items {
        height: 1365px;
    }
    .pets__item {
        margin-bottom: 15px;
    }
    .wrapper-OurFriends {
        padding-top: 79px;
        padding-bottom: 76px;
    }


    .wrapper-footer {
        width: 708px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 0px;
    }
    .section7-1 {
        margin-top: 30px;
    }
    .section7-2 {
        margin-top: 30px;
    }
    .section7-3 {
        flex-direction: column;
        margin-top: 65px;;
    }
}

@media (max-width: 767.5px){
    .wrapper {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu {
        display: none;
    }


    .wrapper-OurFriends {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .text4-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        align-items: center;
        text-align: center;
    }
    .section4-2 {
        margin-top: 24px;
        margin-bottom: 57px;
        flex-wrap: wrap;
        justify-content: center;
        width: 270px;
    }
    .sliderBtns {
        width: 300px;
    }
    .timmy, .sophia, .charly {
        display: none;
    }
    .arrowBtns {
        order: 2;
    }
    .button4 {
        margin-top: 42px; 
        order: 3;
    }
    .woody, .jennifer {
        display: none;
    }


    .wrapper-footer {
        width: 320px;
        flex-direction: column;
    }
    .text7-1 {
        text-align: center;
        width: 278px;
        font-size: 25px;
        margin-left: 11px;
    }
    .section7-1 {
        height: 208px;
        width: 300px;
        margin-top: 30px;
    }
    .margLeft1 {
        margin-left: 24px;
    }
    .margLeft2 {
        margin-left: 31px;
    }
    .section7-2 {
        height: 222px;
        margin-left: 0;
        margin-top: 40px;
    }
    .section7-3 {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;

    }
    .imgEmail {margin-left: 25px;}
    .imgPhone {margin-left: 30px;}
    .dogFooter {
        width: 260px;
        height: 269px;
    }
}

.burger-link {
    font-family: Arial;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #4b4a4a;
}
.burger-link-active {
    color: rgb(32, 32, 32);
    border-bottom: 2px solid #f1cdb3;
}
.burger-link-padding {
    padding-bottom: 40px;
}
.burger-menu {
    /* height: 70px; */
   align-items: center;
}
.logo {
   order: -1;
   z-index: 4;
}
.label {
   margin-top: 0px;
   order: 2;
   width: 30px;
   height: 30px;
   z-index: 3;
}

#label-input {
   display: none;
}
.shadow {
    display: none;
   opacity: 0;
   z-index: -1;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(41,41,41,0.6);
   transition: 500ms;
   }

.label > span,
.label > span::before,
.label > span::after {
    transition: 250ms;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background:  rgb(32, 32, 32);
}
.label > span {
    top: 49px;
    left: calc(50% + 77px);
    margin-top: 10px;
}
.label > span::before {
    content: '';
    top: -10px;
}
.label > span::after {
   content: '';
   top: 10px;
}
#label-input:checked ~ .label > span {
   transform: rotate(90deg);
}
.label {
   margin-right: 30px;
}

.burger-links {
   top: -30px;
   padding-top: 248px;
   width: 0px;
   height: 822px;
   overflow: hidden;
   position: fixed;
   left: 100%;
   list-style: none;
   background: #ffffff;
   align-items: center;
   text-align: center;
   z-index: 2;
}
#label-input:checked ~ .burger-links {
   width: 320px;
   left: calc(50% - 160px);
   animation: slew 500ms;
}
#label-input:checked ~ .shadow {
    display: block;
    opacity: 1;
    z-index: 1;
}
@keyframes slew {
   from {
       left: 100%;
       width: 0px; 
   }
   1% {width: 320px;}
   to {left: calc(50% - 160px);}
}
@keyframes wels {
   from {left: calc(50% - 160px); width: 320px;}
   99% {width: 320px;}
   to {
       left: 100%;
       width: 0px; 
   }
   
   
}

#preload {
   animation: wels 500ms;
}
@media (min-width: 768px) {
   .burger-links, .shadow, .label {display: none;}
}
.popup {
    /* top: 1692px; */
    top: calc(50% - 250px);
    display: flex;
    z-index: 6;
    position: fixed;
    width: 900px;
    height: 500px;
    left: calc(50vw - 450px);
    background: #FAFAFA;
    border-radius: 9px;
  }
  .popup__text {
    margin-left: 30px;
    margin-top: 50px;
    width: 351px;
    display: flex;
    flex-direction: column;
  }
  #shadow__popup {
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(41, 41, 41, 0.6);
  }
  #shadow__popup:hover {
    cursor: pointer;
  }
  .image__popup {
    width: 500px;
    height: 500px;
    border-radius: 9px;
  }
  #button__popup {
    position: fixed;
    background: #fddcc400;
    left: calc(50vw + 450px);
    top: calc(50% - 302px);
    z-index: 6;
    width: 52px;
    height: 52px; 
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    padding: 18px 18px 18px 18px;
  }
  .popup__title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: start;
  }
  .popup__subtitle {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: start;
  }
  .popup__paragraph {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: start;
  }
  .popup__list_item {
    list-style-type: none;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    text-align: start;
  }
  .popup__list_item:before {
    color: #F1CDB3; 
    content: "•"; 
    padding-right: 10px; 
   }
  
  @media (max-width: 1279.5px) {
    .popup {
      top: calc(50% - 175px);
      width: 630px;
      height: 350px;
      left: calc(50vw - 315px);
    }
    .image__popup {
      width: 350px;
      height: 350px;
    }
    .popup__text {
      width: 260px;
      margin-left: 11px;
      margin-top: 10px;
    }
    .popup__paragraph {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #button__popup {
      left: calc(50vw + 315px);
      top: calc(50% - 227px);
    }
  }
  @media (max-width: 767.5px) {
    .popup {
      top: calc(50% - 160px);
      width: 240px;
      height: 341px;
      left: calc(50vw - 120px);
    }
    .image__popup {
      display: none;
    }
    #button__popup {
      left: calc(50vw + 100px);
      top: calc(50% - 212px);
    }
    .popup__text {
      width: 220px;
    }
    .popup__title {
      text-align: center;
    }
    .popup__subtitle {
      text-align: center;
    }
    .popup__paragraph {
      font-size: 13px;
      text-align: justify;
    }
    .popup__list_item {
      font-size: 13px;
    }
  }
  
  #button__popup:hover {
    background: #fddcc4;
    border: 2px solid #fddcc4;
  }
  #shadow__popup:hover #button__popup{
    background: #fddcc4;
    border: 2px solid #fddcc4;
  }